@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.body{
  margin: 10px auto;
  overflow: hidden;
}

.body1{
  background-color: whitesmoke;
  margin: 10px auto;
}

.header{
  padding: 15px 0;
  background: #fff;
  -webkit-box-shadow: 0 4px 16px 0 rgba(44,50,65,.08);
  box-shadow: 0 4px 16px 0 rgba(44,50,65,.08);
  z-index: 2
}

.navbar-brand{
  font-weight: bold;
}


section{
  height: 100vh;
  z-index: 1;
}

.dash{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 47px;
}

.card__box{
  display: flex;
  justify-content: space-evenly;
}

.card__box :hover{
  background-color:aliceblue;
}

.card__b:hover{
  background-color: #0B5ED7 !important;
}

.card {
  padding: 40px 25px
}

.card:hover {
  -webkit-box-shadow: 0 13px 18px -8px rgba(0,0,0,.15),0 11px 55px 10px rgba(0,0,0,.07);
  box-shadow: 0 13px 18px -8px rgba(0,0,0,.15),0 11px 55px 10px rgba(0,0,0,.07)
}

.card__con{
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
}
.card__con1{
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 20%;
}

.input-field{
  margin: 4px auto;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 20px;
  outline-width: 0;
}

.input{
  border: black;
}


.waves{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.waves1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-link{
  padding: initial;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color: darkcyan !important;
  flex-direction: column-reverse;
}



.input__data{
  margin: 5px auto;
  width: fit-content;
}

.section1{
  height: 82vh;
}

#section2{
  height: 95vh;
  margin: 30px 10px;
}

